::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  font-size: 1 rem;
}


::ng-deep th.mat-header-cell {
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}
.mat-elevation-z8{
  @media only screen and (max-width: 768px) {
  overflow: auto;
  display: block;
  }
}